@font-face {
  font-family: "AvantGarde Md BT";
  src: url("../fonts/AvantGarde Md BT.ttf"); }
html {
  height: 100%; }

body {
  background-image: url("../img/tile3.png");
  text-align: center;
  margin: auto;
  padding: 0; }
  body #blackspace {
    background-color: black;
    width: 100%;
    height: 1em; }
  body h1 {
    z-index: 3;
    position: absolute;
    background-color: black;
    color: white;
    font-family: Arial, serif;
    font-weight: bold;
    margin: auto;
    left: 0;
    right: 0;
    width: 8em;
    top: 1.5em;
    padding: 0.3em; }
  body svg {
    vertical-align: top;
    margin-bottom: 0; }
  body #SVG {
    background-color: #293b19;
    margin-bottom: 0; }
    body #SVG #jsonwaxtext {
      font-family: "AvantGarde Md BT", arial, serif;
      font-size: medium;
      fill: #64ac24; }
  body #menu {
    background-color: black;
    opacity: 0.8;
    color: white;
    width: 100%;
    display: inline-block;
    padding-top: 1em;
    padding-bottom: 0.5em;
    box-shadow: 0 6px 6px -2px black; }
  body .MENU_ELEMENT {
    display: inline; }
    body .MENU_ELEMENT a {
      color: white;
      text-decoration: none;
      background-color: black;
      padding: 0.5em; }
      body .MENU_ELEMENT a:hover {
        color: #2fd5ff;
        text-decoration: underline;
        cursor: pointer; }
  body #content {
    padding: 2em;
    margin: 0;
    background-color: #231b1b;
    color: white; }
    body #content nav {
      position: fixed;
      background-color: #271d26;
      border: 1px solid black;
      z-index: 2;
      padding: 0.25em;
      left: 1em;
      top: 13.2em; }
      body #content nav a {
        display: block;
        color: white;
        text-decoration: none;
        margin: 0; }
        body #content nav a:hover {
          color: #2fd5ff;
          text-decoration: underline;
          cursor: pointer; }
    body #content #articles .narrow {
      max-width: 60%; }
    body #content #articles .wide {
      max-width: 80%; }
    body #content #articles article {
      background-color: #392f2f;
      border: 1px solid black;
      padding: 1em;
      margin: auto;
      margin-bottom: 0.5em;
      box-shadow: 2px 2px 4px 0px black; }
      body #content #articles article a {
        color: black;
        border-radius: 15px;
        font-weight: bold;
        text-decoration: none;
        background-color: #64ac24;
        padding: 1em;
        margin: 0.5em; }
        body #content #articles article a:hover {
          color: white;
          background-color: #2fd5ff;
          text-decoration: underline;
          cursor: pointer; }
      body #content #articles article h3 {
        padding-top: 0em;
        padding-bottom: 0.5em;
        margin: 0;
        color: white; }
      body #content #articles article h4 {
        font-family: Arial, serif;
        text-align: left;
        margin: 0;
        margin-left: 2em;
        padding: 0;
        margin-top: 0.5em;
        margin-bottom: 0.5em; }
      body #content #articles article p {
        font-family: "Calibri", serif;
        font-size: medium;
        margin: 0;
        margin-left: 2em;
        text-align: left; }
      body #content #articles article .code {
        font-family: monospace;
        display: block;
        text-align: left;
        min-width: 55%;
        max-width: 70%;
        padding: 0.5em;
        margin-left: 2em; }
        body #content #articles article .code .source {
          color: white;
          background-color: #271d26; }
        body #content #articles article .code .json {
          color: white;
          background-color: #4b3145; }
  body footer {
    font-size: small;
    vertical-align: text-bottom;
    background-color: #231b1b;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: auto;
    box-shadow: 0 2px 2px -2px black; }

/*# sourceMappingURL=style.css.map */
